*{ padding: 0; margin:0;}

.clearfix {
  clear: both;
}

li {list-style: none ;}
a {text-decoration: none ;}
 /*---------------MENU---------*/
#bloc-menu{
  float: left;
  width: 25%;
  height: 1500px;
  position: fixed;
  top: -150px;
  left: -150px;
  text-align: left;
  background: #6B363E;
  transition: ease 1s;
}

#icone{
  margin-top: 200px;
  margin-left: 130px;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transform:rotate(-10deg);
}
#menu {
  margin-top: 50px;
}
#bloc-menu ul {
  float: right;
}

#bloc-menu li {
  width: 190px;
  height: 30px;
  margin-top: 10px;
  background-color: #9F6F6F;
  border: 1px solid #F2CEA5;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#bloc-menu li:hover {
  background-color:#F2CEA5;
  transform: translateX(20px);
}

#liens {
  text-align: right;
  padding-top:60px;
  margin-right: 40px;
  opacity: 0.5;
}

#bloc-menu a{
  color: #fff;
  line-height: 30px;
  padding: 10px;
}

#bloc-menu p{
  margin-left: 180px;
  padding-top:60px;
  font-size: 13px;
  color: #fff;
  opacity: 0.5;
  transform:rotate(-10deg);
}
 /*---------------PAGE------------*/
#bloc-page{
  text-align: center;
  float: left;
  width: 75%;
  height: 900px;
  background-color: #DFDFFD;
}

.intro {
 animation: animationFrames ease 2s; /*nom de ton animation et le temps quelle va mettre à se réaliser! */
 animation-iteration-count: 1; /* nombre de fois que l'animation va s'excuter */
 transform-origin: 50% 50%; /*là où va partir l'animation dans l'espace */
 animation-fill-mode: forwards;}

 /*---------------ANIMATION------------*/
@keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
    transform: rotate(10deg);
  }
}
@-moz-keyframes animationFrames {
  0% {
    opacity: 0;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
    transform: rotate(10deg);
  }
}
